div#ffmpegLinePreview {
    border: 2px solid #6EE7B7;
    padding: 10px;
    font-size: 20px;
    color: #6baefa;
    max-width: 70vw;
}
div#ffmpegLinePreview:hover {
    border: 5px solid #6EE7B7;
}
div#ffmpegLinePreview span {
    color: #e47bf7;
    font-weight: bold;
}
div#ffmpegLinePreview span.fileName {
    color: #30b8f7;
    font-style: italic;
}