@font-face {
    font-family: RalewayExtraLight;
    src: url(../fonts/Raleway/static/Raleway-ExtraLight.ttf);
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*div#root {
	display: flex;
} */

body {
    background-color: #1F2937;
    color: rgba(255, 255, 255, 0.959);
/*    font-family: RalewayExtraLight; */
}

ul {
	list-style-type: none;
}

